@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --cursor-pointer: url(/assets/pointing-up-3d.png), pointer;

  --font-sans: Nunito, sans-serif;
  --font-mono: Commit Mono, monospace;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --spacing-header: 4rem;

  --animate-badge-popup: badge-popup 3s;
  --animate-fade-in: fade-in 0.5s ease-in forwards; /* 要等 SplitTitle 跑完 */
  --animate-slide-in-right: slide-in-right 0.3s ease-in-out forwards;
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-gradient: var(--gradient);
}

@layer base {
  :root {
    --background: hsl(231 9.6% 99.05%); /* #FCFCFD */
    --foreground: hsl(231 45.8% 10.53%);
    --card: hsl(228 31.6% 97.3%);
    --card-foreground: hsl(231 45.8% 10.53%);
    --popover: hsl(228 31.6% 97.3%);
    --popover-foreground: hsl(231 45.8% 10.53%);
    --primary: hsl(231 96% 65%);
    --primary-foreground: hsl(231 9.6% 99.05%);
    --secondary: hsl(231 48% 74.3%);
    --secondary-foreground: hsl(231 9.6% 8.1%);
    --muted: hsl(231 9.6% 99.05%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(231 9.6% 99.05%);
    --accent-foreground: hsl(231 9.6% 8.1%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(231 9.6% 99.05%);
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(231 96% 65%);

    --radius: 1rem;
  }

  .dark {
    --background: hsl(231 62.4% 6.48%); /* #06091b */
    --foreground: hsl(231 9.6% 99.05%);
    --card: hsl(231 45.8% 10.53%);
    --card-foreground: hsl(231 9.6% 99.05%);
    --popover: hsl(231 45.8% 10.53%);
    --popover-foreground: hsl(231 9.6% 99.05%);
    --primary: hsl(231 96% 81%); /* #a0aefd */
    --primary-foreground: hsl(231 9.6% 8.1%);
    --secondary: hsl(231 48% 24.3%); /* #20295c */
    --secondary-foreground: hsl(231 9.6% 99.05%);
    --muted: hsl(231 48% 24.3%);
    --muted-foreground: hsl(231 9.6% 58.1%);
    --accent: hsl(231 48% 24.3%);
    --accent-foreground: hsl(231 9.6% 99.05%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(231 9.6% 99.05%);
    --border: hsl(231 48% 24.3%);
    --input: hsl(231 48% 24.3%);
    --ring: hsl(231 96% 81%);
  }

  * {
    @apply border-border transition-[background-color] duration-300 ease-in-out;
  }

  body {
    @apply bg-background text-foreground bg-repeat;
    background-image: url(/assets/noise-texture.png);
  }
}

@layer components {
  /* TODO: 好像可以改成 utility */
  .layout-container {
    @apply mx-auto w-full max-w-7xl px-4 md:px-10;
  }

  .name-gradient {
    @apply bg-linear-to-tl from-[#4776E6] to-[#8E54E9] bg-clip-text text-transparent;
  }

  .page-title {
    @apply animate-slide-in-right pt-12 text-4xl font-bold tracking-wide opacity-0 sm:text-5xl;
  }

  .page-sub-title {
    @apply animate-slide-in-right text-muted-foreground mt-3 pb-8 text-xl opacity-0 delay-100 sm:pb-12 sm:text-2xl;
  }

  .animate-arrow-shake:hover .arrow {
    animation: arrow-shake 1s infinite ease-in-out;
  }

  @keyframes arrow-shake {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes badge-popup {
    0% {
      scale: 0.1;
      opacity: 0;
      animation-timing-function: cubic-bezier(0.13, 1.53, 0.12, 0.98);
    }
    16.67%,
    83.33% {
      scale: 1;
      opacity: 1;
      transform: translateY(-27px);
    }
    100% {
      scale: 0;
      opacity: 0;
      animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* .test-cursor {
    cursor: ;
  } */
}
