@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 9.6% 99.05%;
    --foreground: 231 45.8% 10.53%;
    --card: 228 31.6% 97.3%;
    --card-foreground: 231 45.8% 10.53%;
    --popover: 228 31.6% 97.3%;
    --popover-foreground: 231 45.8% 10.53%;
    --primary: 231 96% 65%;
    --primary-foreground: 231 9.6% 99.05%;
    --secondary: 231 48% 74.3%;
    --secondary-foreground: 231 9.6% 8.10%;
    --muted: 231 9.6% 99.05%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 231 9.6% 99.05%;
    --accent-foreground: 231 9.6% 8.10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 231 9.6% 99.05%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 231 96% 65%;
    --radius: 1rem;
  }

  .dark {
    --background: 231 62.4% 6.48%; /* #06091b */
    --foreground: 231 9.6% 99.05%;
    --card: 231 45.8% 10.53%;
    --card-foreground: 231 9.6% 99.05%;
    --popover: 231 45.8% 10.53%;
    --popover-foreground: 231 9.6% 99.05%;
    --primary: 231 96% 81%; /* #a0aefd */
    --primary-foreground: 231 9.6% 8.10%;
    --secondary: 231 48% 24.3%; /* #20295c */
    --secondary-foreground: 231 9.6% 99.05%;
    --muted: 231 48% 24.3%;
    --muted-foreground: 231 9.6% 58.1%;
    --accent: 231 48% 24.3%;
    --accent-foreground: 231 9.6% 99.05%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 231 9.6% 99.05%;
    --border: 231 48% 24.3%;
    --input: 231 48% 24.3%;
    --ring: 231 96% 81%;
  }
}

@layer base {
  * {
    @apply border-border transition-[background-color] ease-in-out duration-300;
  }
  body {
    @apply bg-background text-foreground;
  }

  .name-gradient {
    @apply bg-gradient-to-tl from-[#4776E6] to-[#8E54E9] bg-clip-text text-transparent;
  }

  .animate-arrow-shake .arrow {
    animation: arrow-shake 1s infinite ease-in-out;
  }
  @keyframes arrow-shake {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .animate-slide-in-right {
    @apply opacity-0;
    animation: slide-in-right 0.3s ease-in-out forwards;
  }
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-in-out {
    animation: fade-in-out 1s forwards;
  }
  @keyframes fade-in-out {
    0% {
      opacity: 0;
      transform: translate(-90%, 5px);
    }
    20% {
      opacity: 1;
      transform: translate(-90%, 0px);
    }
    80% {
      opacity: 1;
      transform: translate(-90%, 0px);
    }
    100% {
      opacity: 0;
      transform: translate(-90%, -5px);
    }
  }

  .markdown {
    @apply text-foreground text-base sm:text-xl leading-normal break-words;
  }
  .markdown > * + * {
    @apply mt-0 mb-4;
  }
  .markdown li + li {
    @apply mt-1;
  }
  .markdown li > p + p {
    @apply mt-6;
  }
  .markdown strong {
    @apply font-bold;
  }
  .markdown a {
    @apply text-blue-600 font-bold underline underline-offset-2;
  }
  .markdown h2 {
    @apply leading-tight text-2xl sm:text-3xl text-primary font-bold mb-4 mt-6;
  }
  .markdown h3 {
    @apply leading-snug font-bold mb-4 mt-6;
  }
  .markdown h4 {
    @apply leading-none font-bold mb-4 mt-6;
  }
  .markdown h5 {
    @apply leading-tight font-bold mb-4 mt-6;
  }
  .markdown h6 {
    @apply leading-tight font-bold text-muted-foreground mb-4 mt-6;
  }
  .markdown blockquote {
    @apply text-lg text-muted-foreground border-l-4 border-muted-foreground pl-4 pr-4 ;
  }
  .markdown pre {
    @apply bg-gray-200 dark:bg-gray-700 rounded p-4 overflow-y-hidden;
  }
  .markdown code {
    @apply text-sm font-mono inline bg-gray-200 dark:bg-gray-700 rounded;
  }
  .markdown ul {
    @apply pl-8 list-disc;
  }
  .markdown ul.contains-task-list {
    @apply pl-3 list-none;
  }
  .markdown ol {
    @apply pl-8 list-decimal;
  }
  .markdown kbd {
    @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
  }
  .markdown table {
    @apply text-lg border-gray-600;
  }
  .markdown th {
    @apply border py-1 px-3;
  }
  .markdown td {
    @apply border py-1 px-3;
  }
  .markdown .highlight pre {
    @apply bg-gray-100 !important;
  }
  .markdown .footnotes {
    @apply text-sm text-muted-foreground;
  }
  .markdown img {
    @apply my-4;
  }
}